In [3]:
import pandas as pd

In [20]:
city = pd.read_csv('data/incheon_city.csv')

# print (city[city['dong']=='연수2동'])
dong_list = list(city.iloc[97:,:]['dong'])
dong_list
# dong_list
# city[city['dong']=='일신동']

['일신동',
 '십정1동',
 '십정2동',
 '효성1동',
 '효성2동',
 '계산1동',
 '계산2동',
 '계산3동',
 '계산4동',
 '작전1동',
 '작전2동',
 '작전서운동',
 '계양1동',
 '계양2동',
 '계양3동',
 '검암경서동',
 '연희동',
 '청라1동',
 '청라2동',
 '청라3동',
 '가정1동',
 '가정2동',
 '가정3동',
 '석남1동',
 '석남2동',
 '석남3동',
 '신현원창동',
 '가좌1동',
 '가좌2동',
 '가좌3동',
 '가좌4동',
 '검단동',
 '불로대곡동',
 '원당동',
 '당하동',
 '오류왕길동',
 '마전동',
 '아라동',
 '강화읍',
 '선원면',
 '불은면',
 '길상면',
 '화도면',
 '양도면',
 '내가면',
 '하점면',
 '양사면',
 '송해면',
 '교동면',
 '삼산면',
 '서도면',
 '북도면',
 '백령면',
 '대청면',
 '덕적면',
 '영흥면',
 '자월면',
 '연평면']

In [5]:
city_code = list(city.iloc[47:47+50,:]['id'])
city_code

[2818576200,
 2818576300,
 2818576600,
 2818578000,
 2818579000,
 2818579500,
 2818582000,
 2818583000,
 2818584000,
 2818585000,
 2818586000,
 2820051000,
 2820052000,
 2820052100,
 2820052200,
 2820053000,
 2820054000,
 2820055000,
 2820055100,
 2820056000,
 2820057000,
 2820058000,
 2820058100,
 2820058200,
 2820058300,
 2820065000,
 2820065500,
 2820066000,
 2820069000,
 2820070000,
 2820071000,
 2823751000,
 2823752000,
 2823753000,
 2823754000,
 2823755000,
 2823756000,
 2823757000,
 2823758000,
 2823758100,
 2823758200,
 2823759100,
 2823759200,
 2823764100,
 2823764200,
 2823764600,
 2823764800,
 2823765000,
 2823766000,
 2823766100]

In [10]:
import pandas as pd

for idx, dong in enumerate(dong_list):
    dong_pd = pd.read_csv(r'C:\kej\날씨데이터 21_40\%s\%s_강수_202101_202112.csv'%(dong,dong))
    humidity= pd.read_csv(r'C:\kej\날씨데이터 21_40\%s\%s_습도_202101_202112.csv'%(dong,dong)).iloc[:,-1]
    temperature= pd.read_csv(r'C:\kej\날씨데이터 21_40\%s\%s_기온_202101_202112.csv'%(dong,dong)).iloc[:,-1]
    wind_speed = pd.read_csv(r'C:\kej\날씨데이터 21_40\%s\%s_풍속_202101_202112.csv'%(dong,dong)).iloc[:,-1]

    dong_pd.columns=['day','hour','precipitation']

    # dong_pd['city_id']=city_code[idx]
    dong_pd['humidity']=humidity
    dong_pd['wind_speed']=wind_speed
    dong_pd['temperature']=temperature
    dong_pd['dong']=dong
    # day 공백 제거
    dong_pd['day'] = dong_pd['day'].apply(lambda x : x.strip())
    # 필요없는 문자열 제거
    dong_pd =pd.DataFrame([ x for i,x in dong_pd.iterrows() if len(x['day'])<3 ])
    
    month=0
    date_list=[]
    for i, val in dong_pd.iterrows():
        if val['day']=='1' and val['hour']==0.0:
            month+=1
        date='2021.%s.%s'%(month,val['day'])
        date_list.append(date)

    dong_pd['date']=date_list
    del dong_pd['day']

    dong_pd.to_csv('data/wheather_hour/%s_시간별날씨_202101_202112.csv'%dong, index=False)
    print('%s ::: save %s wheather data'%(idx, dong))

0 ::: save 연수2동 wheather data
1 ::: save 연수3동 wheather data
2 ::: save 청학동 wheather data
3 ::: save 동춘1동 wheather data
4 ::: save 동춘2동 wheather data
5 ::: save 동춘3동 wheather data
6 ::: save 송도1동 wheather data
7 ::: save 송도2동 wheather data
8 ::: save 송도3동 wheather data
9 ::: save 송도4동 wheather data
10 ::: save 송도5동 wheather data
11 ::: save 구월1동 wheather data
12 ::: save 구월2동 wheather data
13 ::: save 구월3동 wheather data
14 ::: save 구월4동 wheather data
15 ::: save 간석1동 wheather data
16 ::: save 간석2동 wheather data
17 ::: save 간석3동 wheather data
18 ::: save 간석4동 wheather data
19 ::: save 만수1동 wheather data
20 ::: save 만수2동 wheather data
21 ::: save 만수3동 wheather data
22 ::: save 만수4동 wheather data
23 ::: save 만수5동 wheather data
24 ::: save 만수6동 wheather data
25 ::: save 장수서창동 wheather data
26 ::: save 서창2동 wheather data
27 ::: save 남촌도림동 wheather data
28 ::: save 논현1동 wheather data
29 ::: save 논현2동 wheather data
30 ::: save 논현고잔동 wheather data
31 ::: save 부평1동 wheather data
32 ::: save 부평2동 wheather data
33 ::: save 부평3동 wheather data
34 ::: save 부평4동 wheather data
35 ::: save 부평5동 wheather data
36 ::: save 부평6동 wheather data
37 ::: save 산곡1동 wheather data
38 ::: save 산곡2동 wheather data
39 ::: save 산곡3동 wheather data
40 ::: save 산곡4동 wheather data
41 ::: save 청천1동 wheather data
42 ::: save 청천2동 wheather data
43 ::: save 갈산1동 wheather data
44 ::: save 갈산2동 wheather data
45 ::: save 삼산1동 wheather data
46 ::: save 삼산2동 wheather data
47 ::: save 부개1동 wheather data
48 ::: save 부개2동 wheather data
49 ::: save 부개3동 wheather data

In [44]:
month=0
date_list=[]
for idx, dong in dong_pd.iterrows():
    if dong['day']=='1' and dong['hour']==0.0:
        month+=1
    date='2021.%s.%s'%(month,dong['day'])
    date_list.append(date)

dong_pd['date']=date_list
del dong_pd['day']
dong_pd

,hour,precipitation,city_id,humidity,wind_speed,temperature,date
0,0.0,0.0,2823766100,54.0,1.2,-3.4,2021.1.1
1,100.0,0.0,2823766100,52.0,2.2,-2.3,2021.1.1
2,200.0,0.0,2823766100,56.0,2.2,-1.3,2021.1.1
3,300.0,0.0,2823766100,56.0,2.3,-0.2,2021.1.1
4,400.0,0.0,2823766100,58.0,2.2,0.5,2021.1.1
...,...,...,...,...,...,...,...
8766,1900.0,0.0,2823766100,70.0,0.0,-11.3,2021.12.31
8767,2000.0,0.0,2823766100,74.0,0.0,-11.8,2021.12.31
8768,2100.0,0.0,2823766100,75.0,0.0,-11.7,2021.12.31
8769,2200.0,0.0,2823766100,75.0,0.0,-11.1,2021.12.31
8770,2300.0,0.0,2823766100,58.0,0.0,-7.4,2021.12.31

In [ ]:
dong_pd['humidity']['dong

In [13]:
dong_pd['precipitation'].unique()

array([ 0. ,  0.5,  1. ,  1.5,  2. ,  3.5,  2.5,  3. ,  4.5,  5. ,  7. ,
        4. , -1. ,  5.5,  7.5,  9. ,  6.5,  8.5,  6. ,  8. , 22.5, 20.5,
       12. ,  9.5, 14. , 18. , 17.5, 10.5, 15.5, 16. ])