In [ ]:
a=1
b=2
print(a,b,10)

In [ ]:
a=1.5
b=3.5
print(a,b,12.5)

In [ ]:
s1="홍길동"
s2='학생'
print(s1,s2)

In [ ]:
b1=True
b2=False
print(b1,b2)
print(s1==b2)
print(s1*10)
print(s1+s2)
print(s1+str(10)) #숫자 + 문자열 불가능 > 숫자를 문자열로 변환하여 결합

In [ ]:
a=10
b=3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a**b)
print(a//b)
print(a%b)

In [ ]:
# 증감연산 불가, 대입연산 가능
a=10
b=5
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(a!=b)

In [ ]:
#비트연산자
print(a<<1) #a=1010, b=0101
print(a>>1)
print(a&b) #0000
print(a|b) #1111
print(a^b) #1111
print(~a) #
print(~b)

In [ ]:
# 논리연산자
print(a>5 and b>5)
print(a>5 or b>5)
print(not(a>5))

In [ ]:
# 형변환
a=3.5
b=int(a)
print(int(a))
c=float(b)
print(c)
print("python" + str(c))
print(10/3)
print(1==True)
print(0==False)

In [ ]:
# 자료형 확인하기
a=10
b=3.5
c='python'
print(type(a))
print(type(b))
print(type(c))

In [ ]:
# 입출력 함수
name="홍길동"
age=10
height=180.4
weight=70.6
print("내 이름은",name,"이고, 나이는",age,"입니다")
print("내 이름은 "+name+"이고, 나이는 "+str(age)+"입니다")
print("내 이름은 %s이고, 나이는 %d입니다"%(name,age))
print("내 이름은 %s이고, 키는 %f, 몸무게는 %f입니다"%(name,height,weight))
print("내 이름은 %s이고, 키는 %.1f, 몸무게는 %.1f입니다"%(name,height,weight))

In [ ]:
# 입력함수
print('이름을 입력하세요')
name=input()
print(name)

In [ ]:
name=input('이름을 입력하세요')
print(name)

In [ ]:
score=input('점수 입력') # int(input('점수입력'))으로 작성하면 숫자로 취급
print(score*2) # 입력한 내용은 문자열로 취급

In [ ]:
score1=float(input('점수1 입력'))
score2=float(input('점수2 입력'))
score3=float(input('점수3 입력'))
print(name, end=" : ")
avg=(score1+score2+score3)/3
print(score1, score2, score3, avg)

In [ ]:
print('본 프로그램은 섭씨온도를 화씨온도로 변환하는 프로그램입니다.')
print('변환하고 싶은 섭씨온도를 입력하세요.')

cel=input()
fire=(float(cel)*1.8)+32

print("섭씨온도: ",cel)
print("화씨온도: ",fire)

In [ ]:
a=[1,2,3,4,5]
print(a[0],a[2])

In [ ]:
cities=['서울','부산','인천','대구','대전','광주','울산','수원']

In [ ]:
print(cities)
print(len(cities))

In [ ]:
#슬라이싱 변수명[시작 인덱스:마지막 인덱스]
print(cities[0:3])
print(cities[:3])
print(cities[4:])
print(cities[:])
print(cities[::2])
print(cities[::-1]) # step이 -1이면 역순
print(cities[-4:-1]) # -1부터 -4 바로 앞까지
print(cities[:-1])
cities1=cities[:-1]
cities2=cities[-1]
print(cities1)
print(cities2)

In [ ]:
# 중복값이 있는 경우 - 중복되는 요소도 모두 포함
color1=['red','blue','green']
color2=['red','black','white']
colors=color1+color2
print(colors)
print(color1*2) # 두 번 반복
print('blue' in color1) # '~' 요소가 리스트 내에 존재하는지 여부
print('blue' in color2)

In [ ]:
# 요소를 하나씩 추가
color1.append('purple')
print(color1)
# 리스트를 추가
color1.extend(['pink','white'])
print(color1)

In [ ]:
# 위치를 지정하여 추가
color1.insert(1,'pink')
color1

In [ ]:
# 지우고 싶은 오브젝트 명을 작성
color1.remove('red')
color1

In [ ]:
# 인덱스로 지우기
del color1[0]
color1

In [ ]:
# 특정 인덱스 위치의 값을 바꾸기
color1[0]='red'
print(color1)

In [ ]:
# 언패킹 : 리스트의 각 요소를 뽑아 다른 변수에 할당하는 것
t=[1,2,3]
a,b,c=t
print(a,b,c)

In [ ]:
a,*b=t # 리스트의 값이 변수 개수보다 많을 때 *b와 같이 나머지를 리스트로 전달
print(a,b)
print(a,*b) # *b로 출력하여 언패킹
print(t)
print(*t)

In [ ]:
a=[1,'python',[10,20]]
print(a)
print(*a)
print(*a[2])
k1,k2,k3=a
print(k1,k2,k3)

In [ ]:
# 이차원 리스트: 1차원 리스트를 생성 > 1차원 리스트를 요소로 가지는 새 리스트 생성
kor=[49,79,20,100,82]
math=[43,59,85,30,90]
eng=[49,79,48,60,100]
scores=[kor,math,eng]
print(scores)
print(scores[0][1])
scores[1][0]=100 # 지정 위치의 요소 값 변경
print(scores)

In [ ]:
# 1~256사이의 값은 상수풀에 저장되므로 같은 숫자를 변수에 할당한 경우
# 같은 ref를 가지고 있음
a=1
b=1
print(a is b)
print(a==b)

c=300
d=300
print(c is d)
print(c==d)

In [ ]:
a=[5,4,3,2,1]
b=a
b.sort() # 오름차순 정렬
print(a)

In [ ]:
print("Tell me your age?")
myage=int(input())
if myage < 30:
    print("Welcome to the Club.")
else:
    print("Oh! No. You are not accepted.")

In [ ]:
# 비교연산자(참 /거짓)
print((1>10)<20) # 1>10 => false = 0 (0)<20 => true =>> true

In [ ]:
# if - else if - else문
score=int(input('점수입력'))

if score>=90:
    print('A')
elif score>=80:
    print('B')
elif score>=70:
    print('C')
else:
    print('F')

In [ ]:
year=int(input('당신이 태어난 연도를 입력하세요.'))
age = 2022 - year + 1

if 26<age or 8>age:
    print(age,'학생이 아닙니다')
elif age<=13:
    print(age,'초등학생')
elif age<=16:
    print(age,'중학생')
elif age<=19:
    print(age,'고등학생')
else:
    print(age,'대학생')

In [ ]:
a=[1,2,3,4,5]

# 1. in 을 이용하여 collection의 값을 꺼내는 방식
for i in a:
    print(i, end=" ")

In [ ]:
# 2. in 0부터 10 바로 앞까지 step 1로 꺼냄
for i in range(0,10,1):
    print(i, end=" ")

In [ ]:
# 2-1. (0,10,1) -> (10)으로 생략 가능
for i in range(10):
    print(i, end=" ")

In [ ]:
for i in range(0,100,10):
    print(i, end=" ")

In [ ]:
s="python"
for i in s:
    print(i, end=" ")

In [ ]:
str=['python','java','c#']
for i in str:
    for j in i:
        print(j, end=" ")
    print()

In [ ]:
# 역순으로 출력
for i in range(10,0,-2):
    print(i)

In [ ]:
# while문
i=1
sum=0

while i<10:
    sum+=i
    print(i, sum)
    i+=1

In [ ]:
# break
for i in range(10):
    if i==5:
        break
    print(i)
print("End of progress")

In [ ]:
i=1
sum=0

while i<100:
    sum+=i
    print(i, sum)
    i+=1
    if(sum>50):
        break

In [ ]:
for i in range(50):
    if(i%3==0):continue
    print(i)

In [ ]:
str="I love you"
revstr=''

for i in str:
    revstr=i+revstr
print(revstr)

revstr=str[::-1]
print(revstr)

In [ ]:
decimal = 10
result=''
while(decimal>0):
    remainder=decimal%2
    decimal=decimal//2
    result=str(remainder)+result
print(result)

In [ ]:
kor=[49,80,20,100,80]
math=[43,60,85,30,90]
eng=[49,82,48,50,100]

scores=[kor,math,eng]

avg=[0.0,0.0,0.0,0.0,0.0]

for i in range(len(scores)):
    for j in range(len(scores[i])):
        avg[j]+=scores[i][j]
    
a,b,c,d,e=avg
avg=[a/3,b/3,c/3,d/3,e/3]
print(avg)