In [4]:
# 함수
# 값에 의한 호출

def f(x):
    y=x
    x=5
    return y*y

x=3

print(f(x))
print(x)

9
3

In [8]:
# 참조 호출
def spam(eggs):
    eggs.append(2)
    eggs.extend([3,4])
    
ham=[0,1]
spam(ham)

print(ham)

[0, 1, 2, 3, 4]

In [30]:
# 변수의 사용 범위
def test(t):
    print("In Function x:",x)
    global y # 전역변수인 y 사용
    t=20
    y=30
    print("In Function y:",t)
    print("In Function t:",y)
    
def test2():
    print("Function test2:",y)
    
x=10
#y=15
test(x)
test2()
print("In main x:",x)
print("In main y:",y)
#print("In main:",t) 출력 안 됨

In Function x: 10
In Function y: 20
In Function t: 30
Function test2: 30
In main x: 10
In main y: 30

In [34]:
# 재귀함수 : 팩토리얼 계산
def factorial(n):
    if n == 1:
        return 1
    else:
        return n * factorial(n-1)
    
print(factorial(int(input("Input Number for Factorial Calculation: "))))

Input Number for Factorial Calculation:  5

120

In [22]:
# 함수의 인수- 키워드 인수
def func1(x,y):
    print("x:",x, "y:",y)
    print("x={0}, y={1}".format(x,y))
    print("x=%d, y=%d"%(x,y))

In [23]:
func1(1,2)
func1(y=2, x=1)

x: 1 y: 2
x=1, y=2
x=1, y=2
x: 1 y: 2
x=1, y=2
x=1, y=2

In [24]:
# 가변 인수
def func2(a,b,*c):
    print(a,b,*c)
    print("a={0}, b={1}, c={2}".format(a,b,c))

In [25]:
func2(1,2,3)
func2(1,2,3,4,5)

1 2 3
a=1, b=2, c=(3,)
1 2 3 4 5
a=1, b=2, c=(3, 4, 5)

In [28]:
# 키워드 가변 인수
def func3(**karg):
    print(karg)
    print("a={a}, b={b}, c={c}".format(**karg))

In [29]:
func3(a=1, b=2, c=3) # json 형태 = 딕셔너리 형태

{'a': 1, 'b': 2, 'c': 3}
a=1, b=2, c=3

In [37]:
# 디폴트 인수 -마지막 인수부터 디폴트값을 주어야 함 (a, b=10, c)는 안 됨
def func4(a,b=10):
    print(a,b)

In [38]:
func4(5)
func4(20,30)

5 10
20 30

In [39]:
def kwargs_test(one, two, *args, **kwargs):
    print(one + two + sum(args))
    print(kwargs)

In [40]:
kwargs_test(3,4,5,6,7,8,9,first=3, second=4, third=5)

42
{'first': 3, 'second': 4, 'third': 5}

In [45]:
a="abcde"
print(a[0])
print(a[0:2])
print(a[::2]) # step 2로 출력
print(a[::-1]) # 역순 정렬
print(a[-5:-1])

a
ab
ace
edcba
abcd

In [50]:
a='python'
b='bigdata'

print(a+b)
print(a*5)
print('o' in a)
# print(a+3.9) 연산 불가능
print(a+str(3.9))

pythonbigdata
pythonpythonpythonpythonpython
True
python3.9

In [57]:
str1="TEAMLAB X inflearn"
print(str1.upper())
print(str1.lower())
print(str1.title()) # 단어의 첫글자만 대문자로
print(str1.capitalize()) # 문장의 첫글자만 대문자로
print(str1.count('a')) # 문자 a의 개수
print(str1.lower().count('a')) # 문자열 소문자로 변경 후 문자 a의 개수
print(str1.isdigit())
print(str1.startswith('TEAM'))
print(str1.endswith('arn'))

TEAMLAB X INFLEARN
teamlab x inflearn
Teamlab X Inflearn
Teamlab x inflearn
1
3
False
True
True

In [58]:
str2="""
여러줄의 
문장을 
작성할 수
있습니다
"""

print(str2)

여러줄의
문장을
작성할 수
있습니다

In [60]:
f=open('data/yesterday.txt','r') # r은 읽기모드로 오픈
yesterday_lines=f.readlines()
f.close()
yesterday_lines

['Yesterday all my troubles\n',
 'seemed so far away.\n',
 'Now it looks\n',
 "as though they're here to stay.\n",
 'Oh, I believe in yesterday.\n',
 '\n',
 "Suddenly I'm not half\n",
 'the man I used to be.\n',
 "There's a shadow hanging over me.\n",
 'Oh, yesterday came suddenly.\n',
 '\n',
 'Why she had to go,\n',
 "I don't know,\n",
 "she wouldn't say.\n",
 'I said something wrong,\n',
 'now I long for yesterday.\n',
 '\n',
 'Yesterday love was\n',
 'such an easy game to play.\n',
 'Now I need a place to hide away.\n',
 'Oh, I believe in yesterday.\n',
 '\n',
 'Why she had to go,\n',
 "I don't know,\n",
 "she wouldn't say.\n",
 'I said something wrong,\n',
 'now I long for yesterday.\n',
 '\n',
 'Yesterday love was\n',
 'such an easy game to play.\n',
 'Now I need a place to hide away.\n',
 'Oh, I believe in yesterday.\n',
 '\n',
 'Mm mm mm mm mm mm mm\n']

In [66]:
contents=""
for line in yesterday_lines:
    contents+=line.strip().replace('.',' ').lower()
contents

number=contents.count('yesterday')
print('Number of a word yesterday : ',number)

Number of a word yesterday :  9

In [69]:
a="%d,%s,%f"%(10, 'python',3.5)
print(a)

10,python,3.500000

In [71]:
b="{},{},{}".format(10,'python',3.5)
print(b)

10,python,3.5

In [75]:
name='홍길동'
age=20
height=175.45
s1="내 이름은 %s이고, 나이는 %d살 입니다."%(name,age)
s2="내 이름은 {}이고, 나이는 {}살 입니다.".format(name,age)
print(s1)
print(s2)

내 이름은 홍길동이고, 나이는 20살 입니다.
내 이름은 홍길동이고, 나이는 20살 입니다.

In [77]:
name='홍길동'
age=20
height=175.45
print("%-10s"%name)
print("%-10d"%age)
print("%-10.2f"%height)

홍길동
20
175.45

In [82]:
print("{0:10s}".format(name)) # 문자는 디폴트가 왼쪽정렬
print("{:<10d}".format(age)) # 왼쪽정렬
print("{:10.3f}".format(height)) # 숫자는 디폴트가 오른쪽정렬 .3f는 서식

홍길동
20
   175.450

In [93]:
print("{name:10s},{age:3d},{height:10.3f}".format(name='홍길동',age=20,height=175.45))
print("%(name)10s,%(age)3d,%(height)10.3f"%({'name':'홍길동','age':20,'height':175.45}))

홍길동       , 20,   175.450
       홍길동, 20,   175.450