In [10]:
# pip install pymongo 로 설치한 pymongo 불러와 MongoClient 임포트
from pymongo import MongoClient

In [9]:
# client 객체 할당
client=MongoClient('localhost',27017)

In [6]:
# db 연결
db=client['test']

In [7]:
# 연결된 db 내 collection 연결
collection=db['employees']

In [8]:
# collection 출력
for employee in collection.find():
    print(employee)

{'_id': ObjectId('62a19e184c2622b8ff419e18'), 'empno': 7369.0, 'ename': 'SMITH', 'job': 'CLERK', 'manager': 'FORD', 'hiredate': '17-12-1980', 'sal': 800.0, 'deptno': 20.0}
{'_id': ObjectId('62a19e184c2622b8ff419e19'), 'empno': 7499.0, 'ename': 'ALLEN', 'job': 'SALESMAN', 'manager': 'BLAKE', 'hiredate': '20-02-1981', 'sal': 1600.0, 'comm': 300.0, 'deptno': 30.0}
{'_id': ObjectId('62a19e184c2622b8ff419e1a'), 'empno': 7521.0, 'ename': 'WARD', 'job': 'SALESMAN', 'manager': 'BLAKE', 'hiredate': '22-02-1981', 'sal': 1250.0, 'comm': 500.0, 'deptno': 30.0}
{'_id': ObjectId('62a19e184c2622b8ff419e1b'), 'empno': 7566.0, 'ename': 'JONES', 'job': 'MANAGER', 'manager': 'KING', 'hiredate': '02-04-1981', 'sal': 2975.0, 'deptno': 20.0}
{'_id': ObjectId('62a19e184c2622b8ff419e1c'), 'empno': 7654.0, 'ename': 'MARTIN', 'job': 'SALESMAN', 'manager': 'BLAKE', 'hiredate': '28-09-1981', 'sal': 1250.0, 'comm': 1400.0, 'deptno': 30.0}
{'_id': ObjectId('62a19e184c2622b8ff419e1d'), 'empno': 7698.0, 'ename': 'BLAKE', 'job': 'MANAGER', 'manager': 'KING', 'hiredate': '01-05-1981', 'sal': 2850.0, 'deptno': 30.0}
{'_id': ObjectId('62a19e194c2622b8ff419e1e'), 'empno': 7782.0, 'ename': 'CLARK', 'job': 'MANAGER', 'manager': 'KING', 'hiredate': '09-06-1981', 'sal': 2450.0, 'deptno': 10.0}
{'_id': ObjectId('62a19e194c2622b8ff419e1f'), 'empno': 7788.0, 'ename': 'SCOTT', 'job': 'ANALYST', 'manager': 'JONES', 'hiredate': '13-06-1987', 'sal': 3000.0, 'deptno': 20.0}
{'_id': ObjectId('62a19e194c2622b8ff419e20'), 'empno': 7839.0, 'ename': 'KING', 'job': 'CEO', 'manager': '', 'hiredate': '17-11-1981', 'sal': 5000.0, 'deptno': 10.0}
{'_id': ObjectId('62a19e194c2622b8ff419e21'), 'empno': 7844.0, 'ename': 'TURNER', 'job': 'SALESMAN', 'manager': 'BLAKE', 'hiredate': '08-09-1981', 'sal': 1500.0, 'deptno': 30.0}
{'_id': ObjectId('62a19e194c2622b8ff419e22'), 'empno': 7876.0, 'ename': 'ADAMS', 'job': 'CLERK', 'manager': 'SCOTT', 'hiredate': '13-06-1987', 'sal': 1100.0, 'deptno': 20.0}
{'_id': ObjectId('62a19e194c2622b8ff419e23'), 'empno': 7900.0, 'ename': 'JAMES', 'job': 'CLERK', 'manager': 'BLAKE', 'hiredate': '03-12-1981', 'sal': 950.0, 'deptno': 30.0}
{'_id': ObjectId('62a19e194c2622b8ff419e24'), 'empno': 7902.0, 'ename': 'FORD', 'job': 'ANALYST', 'manager': 'JONES', 'hiredate': '03-12-1981', 'sal': 3000.0, 'deptno': 20.0}
{'_id': ObjectId('62a19e1a4c2622b8ff419e25'), 'empno': 7934.0, 'ename': 'CLERK', 'job': 'CLERK', 'manager': 'KING', 'hiredate': '23-01-1982', 'sal': 1300.0, 'deptno': 10.0}

In [12]:
# 데이터 insert
emp={'eno':30,'ename':'kkk'}

In [18]:
emp_list=[{'eno':40,'ename':'gggg'},
         {'eno':50,'ename':'oooo'},
         {'eno':60,'ename':'pppp'}]

In [13]:
# db의 emp 컬렉션을 coll에 할당
coll=db['emp']

In [19]:
#coll.insert(emp)는 함수 실행 안 됨
#여러 개 넣을 때는 insert_many()를 사용
#coll.insert_one(emp)
coll.insert_many(emp_list)

In [20]:
for e in coll.find():
    print(e)

{'_id': ObjectId('629ec25364304d4abd20ea30'), 'eno': 1101.0, 'fname': 'JIMMY'}
{'_id': ObjectId('629ec26964304d4abd20ea31'), 'eno': 1101.0, 'fname': 'ADAM', 'lname': 'KROLL'}
{'_id': ObjectId('629ec28164304d4abd20ea32'), 'eno': 1101.0, 'fname': 'SMITH', 'job': 'CLERK'}
{'_id': ObjectId('62a1441d33fd510d172255c3'), 'empno': '1111', 'ename': 'JMJOO', 'deptno': 10.0}
{'_id': ObjectId('62a1441d33fd510d172255c4'), 'empno': '1112', 'ename': 'JMJOO', 'deptno': 20.0}
{'_id': ObjectId('62a1441d33fd510d172255c5'), 'empno': '1113', 'ename': 'JMJOO', 'deptno': 30.0}
{'_id': ObjectId('62a1441e33fd510d172255c6'), 'empno': '1114', 'ename': 'JMJOO', 'deptno': 40.0}
{'_id': ObjectId('62a1446b33fd510d172255c7'), 'empno': 1111.0, 'ename': 'JMJOO', 'job': 'MANAGER', 'sal': 1200.0, 'hiredate': datetime.datetime(2022, 6, 9, 0, 52, 59, 136000), 'deptno': 10.0}
{'_id': ObjectId('62a1446c33fd510d172255c8'), 'empno': 2222.0, 'ename': 'JMJ', 'job': 'MANAGER', 'sal': 1200.0, 'hiredate': datetime.datetime(2022, 6, 9, 0, 53, 0, 698000), 'deptno': 40.0}
{'_id': ObjectId('62a1451833fd510d172255ca'), 'empno': '1111', 'ename': 'JMJOO', 'deptno': 10.0}
{'_id': ObjectId('62a2b0a9063c984bef7c9a96'), 'eno': 30, 'ename': 'kkk'}
{'_id': ObjectId('62a2b17e063c984bef7c9a97'), 'eno': 40, 'ename': 'gggg'}
{'_id': ObjectId('62a2b17e063c984bef7c9a98'), 'eno': 50, 'ename': 'oooo'}
{'_id': ObjectId('62a2b17e063c984bef7c9a99'), 'eno': 60, 'ename': 'pppp'}