In [3]:
import pandas as pd

In [7]:
dong_df = pd.read_csv('data/인천행정코드.csv')
dong_df

    dong     code
0    연안동  2301052
1    신포동  2301053
2    신흥동  2301054
3    도원동  2301056
4    율목동  2301057
..   ...      ...
150  백령면  2332033
151  대청면  2332034
152  덕적면  2332035
153  자월면  2332036
154  영흥면  2332037

[155 rows x 2 columns]

In [5]:
from sklearn.preprocessing import StandardScaler
import seaborn as sns
from datetime import datetime, timedelta
from tqdm import tqdm

# 0. 결측값 제거하고 시간별 날씨 저장
- 풍량이 -1 인 행은 삭제하고
- 습도가 -1 인 행은 한시간 전 한시간 후 습도의 평균치를 삽입합니다.
- 강수량 -1 인 행은 0으로 변환

In [196]:

for idx, dong in dong_df.iterrows():
    dong_pd = pd.read_csv(r'D:\data\weather_hour\%s_시간별날씨_202101_202112.csv'%dong['dong'])
    idxs = dong_pd[dong_pd['wind_speed']==-1].index
    
    for i in idxs:
        d1 = dong_pd.iloc[[i-1],3]
        d2 = dong_pd.iloc[[i+1],3]
        
        if dong_pd.iloc[[i-1],3].any()<0:
            d1 = dong_pd.iloc[[i-2],3]
        if dong_pd.iloc[[i+1],3].any()<0:
            d2 = dong_pd.iloc[[i+2],3]
            
        avg = (list(d1)[0]+list(d2)[0])/2
        dong_pd.iloc[i,3]=avg

    dong_pd = dong_pd.drop(dong_pd[dong_pd['humidity']==-1].index)
    
    dong_pd['region_id']=dong['code']
    dong_pd['date'] = pd.to_datetime(dong_pd['date'])
    
    del dong_pd['dong']
    dong_pd.to_csv('data/weather_hour_0703/%s_시간별날씨_202101_202112.csv'%dong['dong'],index=False,float_format='%.2f')
    print('%s_시간별날씨_202101_202112.csv 저장 완료!'%dong['dong'])

연안동_시간별날씨_202101_202112.csv 저장 완료!
신포동_시간별날씨_202101_202112.csv 저장 완료!
신흥동_시간별날씨_202101_202112.csv 저장 완료!
도원동_시간별날씨_202101_202112.csv 저장 완료!
율목동_시간별날씨_202101_202112.csv 저장 완료!
동인천동_시간별날씨_202101_202112.csv 저장 완료!
개항동_시간별날씨_202101_202112.csv 저장 완료!
용유동_시간별날씨_202101_202112.csv 저장 완료!
운서동_시간별날씨_202101_202112.csv 저장 완료!
영종동_시간별날씨_202101_202112.csv 저장 완료!
영종1동_시간별날씨_202101_202112.csv 저장 완료!
만석동_시간별날씨_202101_202112.csv 저장 완료!
화수1·화평동_시간별날씨_202101_202112.csv 저장 완료!
화수2동_시간별날씨_202101_202112.csv 저장 완료!
송현1·2동_시간별날씨_202101_202112.csv 저장 완료!
송현3동_시간별날씨_202101_202112.csv 저장 완료!
송림1동_시간별날씨_202101_202112.csv 저장 완료!
송림2동_시간별날씨_202101_202112.csv 저장 완료!
송림3·5동_시간별날씨_202101_202112.csv 저장 완료!
송림4동_시간별날씨_202101_202112.csv 저장 완료!
송림6동_시간별날씨_202101_202112.csv 저장 완료!
금창동_시간별날씨_202101_202112.csv 저장 완료!
옥련1동_시간별날씨_202101_202112.csv 저장 완료!
선학동_시간별날씨_202101_202112.csv 저장 완료!
연수1동_시간별날씨_202101_202112.csv 저장 완료!
연수2동_시간별날씨_202101_202112.csv 저장 완료!
연수3동_시간별날씨_202101_202112.csv 저장 완료!
청학동_시간별날씨_202101_202112.csv 저장 완료!
동춘1동_시간별날씨_202101_202112.csv 저장 완료!
동춘2동_시간별날씨_202101_202112.csv 저장 완료!
동춘3동_시간별날씨_202101_202112.csv 저장 완료!
옥련2동_시간별날씨_202101_202112.csv 저장 완료!
송도1동_시간별날씨_202101_202112.csv 저장 완료!
송도3동_시간별날씨_202101_202112.csv 저장 완료!
송도2동_시간별날씨_202101_202112.csv 저장 완료!
송도4동_시간별날씨_202101_202112.csv 저장 완료!
송도5동_시간별날씨_202101_202112.csv 저장 완료!
구월1동_시간별날씨_202101_202112.csv 저장 완료!
구월2동_시간별날씨_202101_202112.csv 저장 완료!
구월3동_시간별날씨_202101_202112.csv 저장 완료!
구월4동_시간별날씨_202101_202112.csv 저장 완료!
간석1동_시간별날씨_202101_202112.csv 저장 완료!
간석2동_시간별날씨_202101_202112.csv 저장 완료!
간석3동_시간별날씨_202101_202112.csv 저장 완료!
간석4동_시간별날씨_202101_202112.csv 저장 완료!
만수1동_시간별날씨_202101_202112.csv 저장 완료!
만수2동_시간별날씨_202101_202112.csv 저장 완료!
만수3동_시간별날씨_202101_202112.csv 저장 완료!
만수4동_시간별날씨_202101_202112.csv 저장 완료!
만수5동_시간별날씨_202101_202112.csv 저장 완료!
만수6동_시간별날씨_202101_202112.csv 저장 완료!
남촌도림동_시간별날씨_202101_202112.csv 저장 완료!
논현1동_시간별날씨_202101_202112.csv 저장 완료!
논현2동_시간별날씨_202101_202112.csv 저장 완료!
논현고잔동_시간별날씨_202101_202112.csv 저장 완료!
장수서창동_시간별날씨_202101_202112.csv 저장 완료!
서창2동_시간별날씨_202101_202112.csv 저장 완료!
부평1동_시간별날씨_202101_202112.csv 저장 완료!
부평2동_시간별날씨_202101_202112.csv 저장 완료!
부평3동_시간별날씨_202101_202112.csv 저장 완료!
부평4동_시간별날씨_202101_202112.csv 저장 완료!
부평5동_시간별날씨_202101_202112.csv 저장 완료!
부평6동_시간별날씨_202101_202112.csv 저장 완료!
산곡1동_시간별날씨_202101_202112.csv 저장 완료!
산곡2동_시간별날씨_202101_202112.csv 저장 완료!
산곡3동_시간별날씨_202101_202112.csv 저장 완료!
산곡4동_시간별날씨_202101_202112.csv 저장 완료!
청천1동_시간별날씨_202101_202112.csv 저장 완료!
청천2동_시간별날씨_202101_202112.csv 저장 완료!
갈산1동_시간별날씨_202101_202112.csv 저장 완료!
갈산2동_시간별날씨_202101_202112.csv 저장 완료!
삼산1동_시간별날씨_202101_202112.csv 저장 완료!
부개1동_시간별날씨_202101_202112.csv 저장 완료!
부개2동_시간별날씨_202101_202112.csv 저장 완료!
부개3동_시간별날씨_202101_202112.csv 저장 완료!
일신동_시간별날씨_202101_202112.csv 저장 완료!
십정1동_시간별날씨_202101_202112.csv 저장 완료!
십정2동_시간별날씨_202101_202112.csv 저장 완료!
삼산2동_시간별날씨_202101_202112.csv 저장 완료!
효성1동_시간별날씨_202101_202112.csv 저장 완료!
효성2동_시간별날씨_202101_202112.csv 저장 완료!
계산1동_시간별날씨_202101_202112.csv 저장 완료!
계산2동_시간별날씨_202101_202112.csv 저장 완료!
계산3동_시간별날씨_202101_202112.csv 저장 완료!
작전1동_시간별날씨_202101_202112.csv 저장 완료!
작전2동_시간별날씨_202101_202112.csv 저장 완료!
작전서운동_시간별날씨_202101_202112.csv 저장 완료!
계양2동_시간별날씨_202101_202112.csv 저장 완료!
계산4동_시간별날씨_202101_202112.csv 저장 완료!
계양1동_시간별날씨_202101_202112.csv 저장 완료!
계양3동_시간별날씨_202101_202112.csv 저장 완료!
검암경서동_시간별날씨_202101_202112.csv 저장 완료!
연희동_시간별날씨_202101_202112.csv 저장 완료!
가정1동_시간별날씨_202101_202112.csv 저장 완료!
가정2동_시간별날씨_202101_202112.csv 저장 완료!
가정3동_시간별날씨_202101_202112.csv 저장 완료!
석남1동_시간별날씨_202101_202112.csv 저장 완료!
석남2동_시간별날씨_202101_202112.csv 저장 완료!
석남3동_시간별날씨_202101_202112.csv 저장 완료!
가좌1동_시간별날씨_202101_202112.csv 저장 완료!
가좌2동_시간별날씨_202101_202112.csv 저장 완료!
가좌3동_시간별날씨_202101_202112.csv 저장 완료!
가좌4동_시간별날씨_202101_202112.csv 저장 완료!
신현원창동_시간별날씨_202101_202112.csv 저장 완료!
청라1동_시간별날씨_202101_202112.csv 저장 완료!
청라2동_시간별날씨_202101_202112.csv 저장 완료!
청라3동_시간별날씨_202101_202112.csv 저장 완료!
검단동_시간별날씨_202101_202112.csv 저장 완료!
불로대곡동_시간별날씨_202101_202112.csv 저장 완료!
오류왕길동_시간별날씨_202101_202112.csv 저장 완료!
당하동_시간별날씨_202101_202112.csv 저장 완료!
마전동_시간별날씨_202101_202112.csv 저장 완료!
원당동_시간별날씨_202101_202112.csv 저장 완료!
아라동_시간별날씨_202101_202112.csv 저장 완료!
숭의2동_시간별날씨_202101_202112.csv 저장 완료!
숭의4동_시간별날씨_202101_202112.csv 저장 완료!
용현2동_시간별날씨_202101_202112.csv 저장 완료!
용현3동_시간별날씨_202101_202112.csv 저장 완료!
용현5동_시간별날씨_202101_202112.csv 저장 완료!
학익1동_시간별날씨_202101_202112.csv 저장 완료!
학익2동_시간별날씨_202101_202112.csv 저장 완료!
도화1동_시간별날씨_202101_202112.csv 저장 완료!
주안1동_시간별날씨_202101_202112.csv 저장 완료!
주안2동_시간별날씨_202101_202112.csv 저장 완료!
주안3동_시간별날씨_202101_202112.csv 저장 완료!
주안4동_시간별날씨_202101_202112.csv 저장 완료!
주안5동_시간별날씨_202101_202112.csv 저장 완료!
주안6동_시간별날씨_202101_202112.csv 저장 완료!
주안7동_시간별날씨_202101_202112.csv 저장 완료!
주안8동_시간별날씨_202101_202112.csv 저장 완료!
관교동_시간별날씨_202101_202112.csv 저장 완료!
문학동_시간별날씨_202101_202112.csv 저장 완료!
숭의1·3동_시간별날씨_202101_202112.csv 저장 완료!
용현1·4동_시간별날씨_202101_202112.csv 저장 완료!
도화2·3동_시간별날씨_202101_202112.csv 저장 완료!
강화읍_시간별날씨_202101_202112.csv 저장 완료!
선원면_시간별날씨_202101_202112.csv 저장 완료!
불은면_시간별날씨_202101_202112.csv 저장 완료!
길상면_시간별날씨_202101_202112.csv 저장 완료!
화도면_시간별날씨_202101_202112.csv 저장 완료!
양도면_시간별날씨_202101_202112.csv 저장 완료!
내가면_시간별날씨_202101_202112.csv 저장 완료!
하점면_시간별날씨_202101_202112.csv 저장 완료!
양사면_시간별날씨_202101_202112.csv 저장 완료!
송해면_시간별날씨_202101_202112.csv 저장 완료!
교동면_시간별날씨_202101_202112.csv 저장 완료!
삼산면_시간별날씨_202101_202112.csv 저장 완료!
서도면_시간별날씨_202101_202112.csv 저장 완료!
북도면_시간별날씨_202101_202112.csv 저장 완료!
연평면_시간별날씨_202101_202112.csv 저장 완료!
백령면_시간별날씨_202101_202112.csv 저장 완료!
대청면_시간별날씨_202101_202112.csv 저장 완료!
덕적면_시간별날씨_202101_202112.csv 저장 완료!
자월면_시간별날씨_202101_202112.csv 저장 완료!
영흥면_시간별날씨_202101_202112.csv 저장 완료!

# 1. 풍속 저장

In [1]:
def wind_index(x):
    if x>11:
        return 5
    elif x>8:
        return 4
    elif x>5:
        return 3
    elif x>2:
        return 2
    return 1

In [9]:
total_wind_df = pd.DataFrame()
day1_ago_wind_df = pd.DataFrame()

for idx, dong in tqdm(dong_df.iterrows()):
    dong_pd = pd.read_csv('data/weather_hour_0703/%s_시간별날씨_202101_202112.csv'%dong['dong'])
    
    wind_max = dong_pd.groupby(['date','region_id'])[['wind_speed']].max()
    wind_min = dong_pd.groupby(['date','region_id'])[['wind_speed']].min()
    wind_df = dong_pd.groupby(['date','region_id'])[['wind_speed']].mean()
    
    # 표준화 작업
    wind_std = StandardScaler().fit_transform(wind_df[['wind_speed']])
    wind_max_std =StandardScaler().fit_transform(wind_max[['wind_speed']])
    wind_min_std =StandardScaler().fit_transform(wind_min[['wind_speed']])
    
    
    # 하루 풍속의 평균, 최대, 최소 값 저장
    wind_df.columns=['wind_avg']
    wind_df['wind_max']=wind_max
    wind_df['wind_min']=wind_min
    
    # 하루 풍속의 평균, 최대, 최소의 표준화된 값 저장
    wind_df['wind_std']=wind_std
    wind_df['wind_max_std']=wind_max_std
    wind_df['wind_min_std']=wind_min_std
    
    # 하루 풍속의 평균, 최대 최소의 인덱스 지정
    wind_df['wind_avg_idx']=wind_df['wind_avg'].apply(lambda x:wind_index(x))
    wind_df['wind_max_idx']=wind_df['wind_max'].apply(lambda x:wind_index(x))
    wind_df['wind_min_idx']=wind_df['wind_min'].apply(lambda x:wind_index(x))

    ago_df = wind_df.reset_index()
    
    # 어제 풍속의 평균, 최대, 최소 데이터 프레임을 새로 작성 (수정될 가능성)
    ago_df['date'] = pd.to_datetime(ago_df['date'])
    ago_df['date'] = ago_df['date'].apply(lambda x : x - timedelta(days=1))
    
    total_wind_df = pd.concat([total_wind_df, wind_df],axis=0)
    day1_ago_wind_df = pd.concat([day1_ago_wind_df, ago_df],axis=0)
    
total_wind_df.to_csv('data/데이터원소화/전체날씨데이터/일일_풍속_평균_최대_최소_표준.csv')
day1_ago_wind_df.to_csv('data/데이터원소화/전체날씨데이터/어제_풍속_평균_최대_최소_표준.csv',index=False)

155it [00:03, 40.62it/s]

In [198]:
total_wind_df.describe()

,wind_avg,wind_max,wind_min,wind_std,wind_max_std,wind_min_std,wind_avg_idx,wind_max_idx,wind_min_idx
count,56575.000000,56575.000000,56575.000000,5.657500e+04,5.657500e+04,5.657500e+04,56575.000000,56575.000000,56575.000000
mean,1.754391,3.528610,0.404376,-5.440731e-19,1.998436e-16,-1.559071e-17,1.327548,2.051896,1.024286
std,1.057992,1.575208,0.618425,1.000009e+00,1.000009e+00,1.000009e+00,0.509763,0.567588,0.161010
min,0.025000,0.200000,0.000000,-2.203461e+00,-2.480528e+00,-1.340888e+00,1.000000,1.000000,1.000000
25%,1.033333,2.500000,0.000000,-6.994718e-01,-6.948513e-01,-4.691468e-01,1.000000,2.000000,1.000000
50%,1.495833,3.200000,0.200000,-2.222892e-01,-1.531738e-01,-4.610983e-01,1.000000,2.000000,1.000000
75%,2.183333,4.100000,0.500000,4.819477e-01,5.271059e-01,1.819505e-01,2.000000,2.000000,1.000000
max,13.479167,18.700000,10.200000,6.841942e+00,5.875812e+00,7.184111e+00,5.000000,5.000000,4.000000

# 2. 습도 저장

In [10]:
def hum_index(x):
    if x>90:
        return 5
    elif x>80:
        return 4
    elif x>70:
        return 3
    elif x>60:
        return 2
    return 1

In [11]:
total_hum_df = pd.DataFrame()
day1_ago_hum_df = pd.DataFrame()

for idx, dong in tqdm(dong_df.iterrows()):
    dong_pd = pd.read_csv('data/weather_hour_0703/%s_시간별날씨_202101_202112.csv'%dong['dong'])
    
    hum_max = dong_pd.groupby(['date','region_id'])[['humidity']].max()
    hum_min = dong_pd.groupby(['date','region_id'])[['humidity']].min()
    
    hum_df = dong_pd.groupby(['date','region_id'])[['humidity']].mean()
    
    # 표준화 작업
    hum_std = StandardScaler().fit_transform(hum_df[['humidity']])
    hum_max_std =StandardScaler().fit_transform(hum_max[['humidity']])
    hum_min_std =StandardScaler().fit_transform(hum_min[['humidity']])
    
    # 습도의 평균, 최대, 최소 값 저장
    hum_df.columns=['hum_avg']
    hum_df['hum_max']=hum_max
    hum_df['hum_min']=hum_min
    
    # 습도의 평균, 최대, 최소 값 표준화된 값 저장
    hum_df['hum_std']=hum_std
    hum_df['hum_max_std']=hum_max_std
    hum_df['hum_min_std']=hum_min_std
    
    #습도의 평균, 최대, 최소 값 인덱스 지정
    # 지금 이건 2로 나눴을 때 몫을 저장한 것임(위에 적용함수 있음)
    hum_df['hum_avg_idx']=hum_df['hum_avg'].apply(lambda x:hum_index(x))
    hum_df['hum_max_idx']=hum_df['hum_max'].apply(lambda x:int(x)//2)
    hum_df['hum_min_idx']=hum_df['hum_min'].apply(lambda x:int(x)//2)

    ago_df = hum_df.reset_index()
    
    ago_df['date'] = pd.to_datetime(ago_df['date'])
    ago_df['date'] = ago_df['date'].apply(lambda x : x - timedelta(days=1))
    
    total_hum_df = pd.concat([total_hum_df, hum_df],axis=0)
    day1_ago_hum_df = pd.concat([day1_ago_hum_df, ago_df],axis=0)
    
total_hum_df.to_csv('data/데이터원소화/전체날씨데이터/일일_습도_평균_최대_최소_표준.csv')
day1_ago_hum_df.to_csv('data/데이터원소화/전체날씨데이터/어제_습도_평균_최대_최소_표준.csv',index=False)

155it [00:03, 41.00it/s]

In [199]:
total_hum_df.describe()

,hum_avg,hum_max,hum_min,hum_std,hum_max_std,hum_min_std,hum_avg_idx,hum_max_idx,hum_min_idx
count,56575.000000,56575.000000,56575.000000,5.657500e+04,5.657500e+04,5.657500e+04,56575.000000,56575.000000,56575.000000
mean,69.713991,88.099938,47.595245,2.441529e-16,-3.001831e-16,2.294428e-17,13.450429,4.194715,1.340716
std,14.497657,12.581545,16.043897,1.000009e+00,1.000009e+00,1.000009e+00,2.921060,1.136999,0.747066
min,19.791667,30.000000,7.000000,-3.616208e+00,-5.960807e+00,-2.763600e+00,3.000000,1.000000,1.000000
25%,59.583333,81.000000,35.000000,-6.771184e-01,-4.538792e-01,-7.680455e-01,11.000000,4.000000,1.000000
50%,70.916667,93.000000,47.000000,1.113663e-01,3.755814e-01,-4.653810e-02,14.000000,5.000000,1.000000
75%,80.666667,98.000000,58.000000,7.195294e-01,6.880170e-01,6.548962e-01,16.000000,5.000000,1.000000
max,100.000000,100.000000,100.000000,2.440303e+00,1.355853e+00,3.464955e+00,20.000000,5.000000,5.000000

# 3.기온 저장

In [12]:
def temp_index(x):
    if x>23.5:
        return 5
    elif x>19.5:
        return 4
    elif x>15.5:
        return 3
    elif x>11.5:
        return 2
    return 1

In [13]:
# 일교차를 위한 인덱스 함수
def chg_index(x):
    if x>12:
        return 5
    elif x>10:
        return 4
    elif x>8:
        return 3
    elif x>6:
        return 2
    return 1

In [8]:
total_df = pd.DataFrame()
day1_ago_df = pd.DataFrame()

for idx, dong in tqdm(dong_df.iterrows()):
    dong_pd = pd.read_csv('data/weather_hour_0703/%s_시간별날씨_202101_202112.csv'%dong['dong'])
    
    max_df = dong_pd.groupby(['date','region_id'])[['temperature']].max()
    min_df = dong_pd.groupby(['date','region_id'])[['temperature']].min()
    
    df = dong_pd.groupby(['date','region_id'])[['temperature']].mean()
    
    #표준화 작업
    std_df = StandardScaler().fit_transform(df[['temperature']])
    max_std =StandardScaler().fit_transform(max_df[['temperature']])
    min_std =StandardScaler().fit_transform(min_df[['temperature']])
    
    # 하루 기온의 평균, 최대, 최소 값 저장
    df.columns=['temp_avg']
    df['temp_max']=max_df
    df['temp_min']=min_df
    
    #하루 기온의 평균, 최대,최소 표준화 된 값저장
    df['temp_std']=std_df
    df['temp_max_std']=max_std
    df['temp_min_std']=min_std
    
    # 인덱스 지정(마음대로 설정가능)
    df['temp_avg_idx']=df['temp_avg'].apply(lambda x:temp_index(x))
    df['temp_max_idx']=df['temp_max'].apply(lambda x:temp_index(x))
    df['temp_min_idx']=df['temp_min'].apply(lambda x:temp_index(x))

    ago_df = df.reset_index()
    
    ago_df['date'] = pd.to_datetime(ago_df['date'])
    ago_df['date'] = ago_df['date'].apply(lambda x : x - timedelta(days=1))
    
    total_df = pd.concat([total_df, df],axis=0)
    day1_ago_df = pd.concat([day1_ago_df, ago_df],axis=0)
    
total_df.to_csv('data/데이터원소화/전체날씨데이터/일일_기온_평균_최대_최소_표준.csv')
day1_ago_df.to_csv('data/데이터원소화/전체날씨데이터/어제_기온_평균_최대_최소_표준.csv',index=False)

155it [00:03, 41.27it/s]

In [9]:
total_df.describe()

,temp_avg,temp_max,temp_min,temp_std,temp_max_std,temp_min_std,temp_avg_idx,temp_max_idx,temp_min_idx
count,56575.000000,56575.000000,56575.000000,5.657500e+04,5.657500e+04,5.657500e+04,56575.000000,56575.000000,56575.000000
mean,13.020803,17.534089,9.225768,-2.662573e-17,5.062185e-17,1.568736e-17,2.532161,3.097817,2.097022
std,10.285800,10.358289,10.607812,1.000009e+00,1.000009e+00,1.000009e+00,1.605348,1.679001,1.380288
min,-15.566667,-12.400000,-21.000000,-2.768105e+00,-2.890842e+00,-2.677922e+00,1.000000,1.000000,1.000000
25%,5.391667,10.100000,1.300000,-7.439024e-01,-7.096615e-01,-7.388114e-01,1.000000,1.000000,1.000000
50%,13.020833,18.000000,9.100000,-4.703872e-03,4.632781e-02,-1.206238e-02,2.000000,3.000000,1.000000
75%,22.162500,26.500000,18.700000,8.972209e-01,8.609564e-01,9.113334e-01,4.000000,5.000000,3.000000
max,31.908333,37.300000,28.000000,1.783284e+00,2.127373e+00,1.755729e+00,5.000000,5.000000,5.000000

### 7/14/30 일간 기온 중, 가장 평균 기온이 높은 날, 평균 기온 낮은 날, 일교차 심했던 날, 가장 기온 높은날, 낮은날

In [16]:
dong_pd = pd.read_csv('data/데이터원소화/전체날씨데이터/일일_기온_평균_최대_최소_표준.csv')

#기간 지정 : range(n,m) => n일 이상 m일 미만
#day_range = range(5,6)
day_range = [7,14,30]

for day in tqdm(day_range): # 기간 만큼 컬럼 추가
    
    max_avg_temp = [] #평균 기온 높았던 날
    min_avg_temp = [] #평균 기온 낮았던 날
    
    max_chg_temp = [] #일교차가 심했던 날
    
    max_temp = [] # 기온이 가장 높았던 날
    min_temp = [] # 기온이 가장 낮았던 날
    
    dong_pd['temp_chg']=dong_pd.apply(lambda x: x['temp_max']-x['temp_min'],axis=1)
    
    for _idx, _dong in dong_pd.iterrows():
        
        # 이전 날이 없는 경우 0 삽입되는 것
        if _idx-day<0:
            max_avg_temp.append(0.0)
            min_avg_temp.append(0.0)
            max_chg_temp.append(0.0)
            max_temp.append(0.0)
            min_temp.append(0.0)
            continue
            
        else:
            max_avg_temp.append(dong_pd.iloc[_idx-day:_idx+1,2].max()) #평균 기온 가장 높았던 날
            min_avg_temp.append(dong_pd.iloc[_idx-day:_idx+1,2].min()) #평균 기온 가장 낮았던 날
            
            max_chg_temp.append(dong_pd.iloc[_idx-day:_idx+1,-1].max()) # 일교차가 심했던 날
            
            max_temp.append(dong_pd.iloc[_idx-day:_idx+1,3].max()) # 기온이 가장 높았던 날의 최고 기온
            min_temp.append(dong_pd.iloc[_idx-day:_idx+1,4].min()) # 기온이 가장 낮았던 날의 최저 기온
            
    # 기온 값 컬럼의 이름을 지정
    temp_avg_max_col = 'temp_avg_max_%sd'%day # ex) tmep_avg_max_5d
    temp_avg_min_col = 'temp_avg_min_%sd'%day
    temp_chg_max_col = 'temp_chg_max_%sd'%day
    temp_max_col = 'temp_max_%sd'%day
    temp_min_col = 'temp_min_%sd'%day
    
    # 기온 값 인덱스 컬럼의 이름을 지정
    avg_max_idx_col='temp_avg_max_%sd_idx'%day
    avg_min_idx_col='temp_avg_min_%sd_idx'%day
    chg_max_idx_col='temp_chg_max_%sd_idx'%day
    max_idx_col='temp_max_%sd_idx'%day
    min_idx_col='temp_min_%sd_idx'%day
    
    dong_pd[temp_avg_max_col]=max_avg_temp
    dong_pd[temp_avg_min_col]=min_avg_temp
    dong_pd[temp_chg_max_col]=max_chg_temp
    dong_pd[temp_max_col]=max_temp
    dong_pd[temp_min_col]=min_temp

    #인덱스 지정
    # dong_pd[day_idx_col]=dong_pd[day_col].apply(lambda x:aqua_index_day(x))
    
    # dong_pd[avg_max_idx_col]=dong_pd[temp_avg_max_col].apply(lambda x:temp_index(x))
    # dong_pd[avg_min_idx_col]=dong_pd[temp_avg_min_col].apply(lambda x:temp_index(x))
    # dong_pd[chg_max_idx_col]=dong_pd[temp_chg_max_col].apply(lambda x:chg_index(x))
    # dong_pd[max_idx_col]=dong_pd[temp_max_col].apply(lambda x:temp_index(x))
    # dong_pd[min_idx_col]=dong_pd[temp_min_col].apply(lambda x:temp_index(x))
    
    dong_pd[avg_max_idx_col]=dong_pd[temp_avg_max_col].apply(lambda x:int(x)//2)
    dong_pd[avg_min_idx_col]=dong_pd[temp_avg_min_col].apply(lambda x:int(x)//2)
    dong_pd[chg_max_idx_col]=dong_pd[temp_chg_max_col].apply(lambda x:int(x)//2)
    dong_pd[max_idx_col]=dong_pd[temp_max_col].apply(lambda x:int(x)//2)
    dong_pd[min_idx_col]=dong_pd[temp_min_col].apply(lambda x:int(x)//2)
    
    print('%s일간의 기온 데이터 저장 완료'%day)
    
file_name='data/데이터원소화/전체날씨데이터/7_14_30일간_기온_평균최대_평균최소_최대일교차_최대기온_최소기온_index.csv'
dong_pd.to_csv(file_name,index=False,float_format='%.2f')

dong_pd

 33%|████████████████████████████                                                        | 1/3 [00:22<00:44, 22.16s/it]

7일간의 기온 데이터 저장 완료

 67%|████████████████████████████████████████████████████████                            | 2/3 [00:44<00:22, 22.26s/it]

14일간의 기온 데이터 저장 완료

100%|████████████████████████████████████████████████████████████████████████████████████| 3/3 [01:06<00:00, 22.23s/it]

30일간의 기온 데이터 저장 완료

,date,region_id,temp_avg,temp_max,temp_min,temp_std,temp_max_std,temp_min_std,temp_avg_idx,temp_max_idx,...,temp_avg_max_30d,temp_avg_min_30d,temp_chg_max_30d,temp_max_30d,temp_min_30d,temp_avg_max_30d_idx,temp_avg_min_30d_idx,temp_chg_max_30d_idx,temp_max_30d_idx,temp_min_30d_idx
0,2021-01-01,2301052,-2.950000,1.2,-7.3,-1.605230,-1.542629,-1.696939,1,1,...,0.000000,0.000000,0.0,0.0,0.0,1,1,1,1,1
1,2021-01-02,2301052,-4.833333,-2.2,-7.5,-1.790047,-1.877519,-1.716027,1,1,...,0.000000,0.000000,0.0,0.0,0.0,1,1,1,1,1
2,2021-01-03,2301052,-4.600000,-2.1,-6.5,-1.767149,-1.867670,-1.620586,1,1,...,0.000000,0.000000,0.0,0.0,0.0,1,1,1,1,1
3,2021-01-04,2301052,-2.204167,0.2,-6.0,-1.532039,-1.641126,-1.572866,1,1,...,0.000000,0.000000,0.0,0.0,0.0,1,1,1,1,1
4,2021-01-05,2301052,-7.462500,-4.1,-10.4,-2.048055,-2.064664,-1.992806,1,1,...,0.000000,0.000000,0.0,0.0,0.0,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56570,2021-12-27,2332037,-2.395833,-1.0,-4.8,-1.663278,-1.792899,-1.627220,1,1,...,10.312500,-9.795833,1.0,12.1,-11.0,1,1,1,2,1
56571,2021-12-28,2332037,1.975000,6.3,-1.6,-1.202828,-1.035578,-1.297588,1,1,...,10.312500,-9.795833,1.0,12.1,-11.0,1,1,1,2,1
56572,2021-12-29,2332037,1.812500,6.9,-2.4,-1.219947,-0.973333,-1.379996,1,1,...,10.312500,-9.795833,1.0,12.1,-11.0,1,1,1,2,1
56573,2021-12-30,2332037,-2.466667,0.0,-5.4,-1.670740,-1.689156,-1.689026,1,1,...,9.995833,-9.795833,1.0,12.1,-11.0,1,1,1,2,1
56574,2021-12-31,2332037,-4.358333,-3.2,-5.2,-1.870019,-2.021132,-1.668424,1,1,...,9.995833,-9.795833,1.0,12.1,-11.0,1,1,1,2,1

In [11]:
dong_pd.describe()

,region_id,temp_avg,temp_max,temp_min,temp_std,temp_max_std,temp_min_std,temp_avg_idx,temp_max_idx,temp_min_idx,...,temp_avg_max_5d,temp_avg_min_5d,temp_chg_max_5d,temp_max_5d,temp_min_5d,temp_avg_max_5d_idx,temp_avg_min_5d_idx,temp_chg_max_5d_idx,temp_max_5d_idx,temp_min_5d_idx
count,5.657500e+04,56575.000000,56575.000000,56575.000000,5.657500e+04,5.657500e+04,5.657500e+04,56575.000000,56575.000000,56575.000000,...,56575.000000,56575.000000,56575.000000,56575.000000,56575.000000,56575.000000,56575.000000,56575.000000,56575.000000,56575.000000
mean,2.309149e+06,13.020803,17.534089,9.225768,-5.109675e-17,4.810214e-17,7.398216e-18,2.532161,3.097817,2.097022,...,16.203114,9.864470,11.328311,21.109570,6.098436,7.634574,4.568661,5.210676,10.086010,2.732762
std,8.863825e+03,10.285800,10.358289,10.607812,1.000009e+00,1.000009e+00,1.000009e+00,1.605348,1.679001,1.380288,...,8.687477,11.340415,2.462830,8.819419,11.573486,4.335085,5.518986,1.272251,4.411781,5.632690
min,2.301052e+06,-15.566667,-12.400000,-21.000000,-2.768105e+00,-2.890842e+00,-2.677922e+00,1.000000,1.000000,1.000000,...,-8.008333,-15.566667,0.000000,-3.300000,-21.000000,-4.000000,-8.000000,0.000000,-2.000000,-11.000000
25%,2.305052e+06,5.391667,10.100000,1.300000,-7.439024e-01,-7.096615e-01,-7.388114e-01,1.000000,1.000000,1.000000,...,8.625000,1.062500,9.700000,13.500000,-2.700000,4.000000,0.000000,4.000000,6.000000,-1.000000
50%,2.306071e+06,13.020833,18.000000,9.100000,-4.703872e-03,4.632781e-02,-1.206238e-02,2.000000,3.000000,1.000000,...,16.550000,10.245833,11.400000,21.200000,5.400000,8.000000,5.000000,5.000000,10.000000,2.000000
75%,2.309056e+06,22.162500,26.500000,18.700000,8.972209e-01,8.609564e-01,9.113334e-01,4.000000,5.000000,3.000000,...,23.912500,20.045833,12.900000,28.700000,16.900000,11.000000,10.000000,6.000000,14.000000,8.000000
max,2.332037e+06,31.908333,37.300000,28.000000,1.783284e+00,2.127373e+00,1.755729e+00,5.000000,5.000000,5.000000,...,31.908333,30.691667,33.300000,37.300000,27.200000,15.000000,15.000000,16.000000,18.000000,13.000000

# 4. 강수량 저장

In [14]:
def aqua_index(x):
    # if x>3:
    #     return 3
    if x>0 and x<=10:
        return x//1
    elif x>10:
        return x//10
    return 0

In [15]:
def aqua_index_day(x):
    if x>50:
        return 10
    elif x>45:
        return 9
    elif x>40:
        return 8
    elif x>35:
        return 7
    elif x>30:
        return 6
    elif x>25:
        return 5
    elif x>20:
        return 4
    elif x>10:
        return 3
    elif x>5:
        return 2
    elif x>0:
        return 1
    return 0

In [16]:
def aqua_index_std(x,mean,std):
    if mean+(2*std)<x:
        return 5
    elif mean+std<x:
        return 4
    elif mean-(2*std)>x:
        return 1
    elif mean-std>x:
        return 2
    else:
        return 3

In [18]:
total_df = pd.DataFrame()
day1_ago_df = pd.DataFrame()

for idx, dong in tqdm(dong_df.iterrows()):
    dong_pd = pd.read_csv('data/weather_hour_0703/%s_시간별날씨_202101_202112.csv'%dong['dong'])
    
    dong_pd['precipitation'] = dong_pd['precipitation'].apply(lambda x : x if x>-1 else 0)
    
    max_df = dong_pd.groupby(['date','region_id'])[['precipitation']].max()
    min_df = dong_pd.groupby(['date','region_id'])[['precipitation']].min()
    
    df = dong_pd.groupby(['date','region_id'])[['precipitation']].sum()
    
    std_df = StandardScaler().fit_transform(df[['precipitation']])
    max_std =StandardScaler().fit_transform(max_df[['precipitation']])
    min_std =StandardScaler().fit_transform(min_df[['precipitation']])
    
    df.columns=['aqua_sum']
    df['aqua_max']=max_df
    df['aqua_min']=min_df
    
    df['aqua_std']=std_df
    df['aqua_max_std']=max_std
    df['aqua_min_std']=min_std
    
    
    # 이거는 정규 분포를 적용하였음
    df['aqua_sum_idx']=df['aqua_sum'].apply(lambda x:aqua_index_std(x, std_df.mean(), std_df.std())) #<=이거 aqua_std(강수량값, 평균, 표준편차)
    df['aqua_max_idx']=df['aqua_max'].apply(lambda x:aqua_index_std(x, max_std.mean(), max_std.std()))
    df['aqua_min_idx']=df['aqua_min'].apply(lambda x:aqua_index_std(x, max_std.mean(), max_std.std()))
    # df['aqua_sum_idx']=df['aqua_sum'].apply(lambda x:aqua_index(x))
    # df['aqua_max_idx']=df['aqua_max'].apply(lambda x:aqua_index(x))
    # df['aqua_min_idx']=df['aqua_min'].apply(lambda x:aqua_index(x))

    ago_df = df.reset_index()
    
    ago_df['date'] = pd.to_datetime(ago_df['date'])
    ago_df['date'] = ago_df['date'].apply(lambda x : x - timedelta(days=1))
    
    total_df = pd.concat([total_df, df],axis=0)
    day1_ago_df = pd.concat([day1_ago_df, ago_df],axis=0)
    
total_df.to_csv('data/데이터원소화/전체날씨데이터/일일_강수량_평균_최대_최소_표준.csv')
day1_ago_df.to_csv('data/데이터원소화/전체날씨데이터/어제_강수량_평균_최대_최소_표준.csv',index=False)

155it [00:08, 19.07it/s]

In [46]:

#테스트용
_aqua_test = total_df[:].reset_index()

_aqua_test['month']= _aqua_test['date'].apply(lambda x:pd.to_datetime(x).month)

_aqua_test = _aqua_test[(_aqua_test['month']>7)&(_aqua_test['month']<10)]
# sns.catplot(x='month', y='aqua_max', data=_aqua_test, kind='boxen')
sns.distplot(_aqua_test['aqua_max'],rug=True, hist=False, kde=True)

KeyError: 'aqua_max'

In [42]:
dong_pd = pd.read_csv('데이터원소화/전체날씨데이터/일일_강수량_평균_최대_최소_표준.csv')

# 날짜 지정 7일~14일
day_range = [7,14,30]

for day in tqdm(day_range):
    aqua_days_list=[]    
    for _idx, _dong in dong_pd.iterrows():
        if _idx-day<0:
            aqua_days_list.append(0.0)
            continue
        else:
            aqua_days_list.append(dong_pd.iloc[_idx-day:_idx+1,2].sum())
            # aqua_days_list.append(dong_pd.iloc[_idx-day:_idx+1,3].max())
    
    day_col = 'aqua_%sd'%day
    day_std_col='aqua_%sd_std'%day
    day_idx_col='aqua_%sd_idx'%day
    
    dong_pd[day_col]=aqua_days_list

    std_df = StandardScaler().fit_transform(dong_pd[[day_col]])
    dong_pd[day_std_col]=std_df

    
    mean=dong_pd[day_std_col].mean()
    std =dong_pd[day_std_col].std()
    
    # dong_pd[day_idx_col]=dong_pd[day_col].apply(lambda x:aqua_index_day(x))
    dong_pd[day_idx_col]=dong_pd[day_std_col].apply(lambda x:aqua_index_std(x,mean,std))
    
    print('%s일간의 강수 데이터 저장 완료'%day)
    
file_name='데이터원소화/전체날씨데이터/2일_5일간_강수량_평균_최대_최소_표준.csv'
dong_pd.to_csv(file_name,index=False,float_format='%.2f')

dong_pd

 12%|██████████▌                                                                         | 1/8 [00:08<01:00,  8.67s/it]

7일간의 강수 데이터 저장 완료

 25%|█████████████████████                                                               | 2/8 [00:17<00:51,  8.64s/it]

8일간의 강수 데이터 저장 완료

 38%|███████████████████████████████▌                                                    | 3/8 [00:26<00:43,  8.78s/it]

9일간의 강수 데이터 저장 완료

 50%|██████████████████████████████████████████                                          | 4/8 [00:34<00:35,  8.75s/it]

10일간의 강수 데이터 저장 완료

 62%|████████████████████████████████████████████████████▌                               | 5/8 [00:43<00:26,  8.80s/it]

11일간의 강수 데이터 저장 완료

 75%|███████████████████████████████████████████████████████████████                     | 6/8 [00:52<00:17,  8.82s/it]

12일간의 강수 데이터 저장 완료

 88%|█████████████████████████████████████████████████████████████████████████▌          | 7/8 [01:01<00:08,  8.82s/it]

13일간의 강수 데이터 저장 완료

100%|████████████████████████████████████████████████████████████████████████████████████| 8/8 [01:10<00:00,  8.81s/it]

14일간의 강수 데이터 저장 완료

,date,region_id,aqua_sum,aqua_max,aqua_min,aqua_std,aqua_max_std,aqua_min_std,aqua_sum_idx,aqua_max_idx,...,aqua_11d_idx,aqua_12d,aqua_12d_std,aqua_12d_idx,aqua_13d,aqua_13d_std,aqua_13d_idx,aqua_14d,aqua_14d_std,aqua_14d_idx
0,2021-01-01,2301052,0.0,0.0,0.0,-0.306406,-0.317796,0.0,3,3,...,2,0.0,-1.033582,2,0.0,-1.064784,2,0.0,-1.091201,2
1,2021-01-02,2301052,0.0,0.0,0.0,-0.306406,-0.317796,0.0,3,3,...,2,0.0,-1.033582,2,0.0,-1.064784,2,0.0,-1.091201,2
2,2021-01-03,2301052,0.0,0.0,0.0,-0.306406,-0.317796,0.0,3,3,...,2,0.0,-1.033582,2,0.0,-1.064784,2,0.0,-1.091201,2
3,2021-01-04,2301052,0.0,0.0,0.0,-0.306406,-0.317796,0.0,3,3,...,2,0.0,-1.033582,2,0.0,-1.064784,2,0.0,-1.091201,2
4,2021-01-05,2301052,0.0,0.0,0.0,-0.306406,-0.317796,0.0,3,3,...,2,0.0,-1.033582,2,0.0,-1.064784,2,0.0,-1.091201,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56570,2021-12-27,2332037,1.0,0.5,0.0,-0.197886,-0.163836,0.0,3,3,...,3,2.5,-0.966640,3,3.0,-0.987940,3,3.0,-1.017701,2
56571,2021-12-28,2332037,0.0,0.0,0.0,-0.321671,-0.346710,0.0,3,3,...,3,2.5,-0.966640,3,2.5,-1.000748,2,3.0,-1.017701,2
56572,2021-12-29,2332037,0.0,0.0,0.0,-0.321671,-0.346710,0.0,3,3,...,3,2.5,-0.966640,3,2.5,-1.000748,2,2.5,-1.029951,2
56573,2021-12-30,2332037,0.0,0.0,0.0,-0.321671,-0.346710,0.0,3,3,...,3,2.5,-0.966640,3,2.5,-1.000748,2,2.5,-1.029951,2
56574,2021-12-31,2332037,0.0,0.0,0.0,-0.321671,-0.346710,0.0,3,3,...,3,1.0,-1.006805,2,2.5,-1.000748,2,2.5,-1.029951,2