In [1]:
import pandas as pd

In [22]:
city = pd.read_csv('data/incheon_city.csv')

# print (city[city['dong']=='연수2동'])
dong_list = list(city.iloc[:47,:]['dong'])

dong_list

['연안동',
 '신포동',
 '신흥동',
 '도원동',
 '율목동',
 '동인천동',
 '개항동',
 '영종동',
 '영종1동',
 '운서동',
 '용유동',
 '만석동',
 '화수1·화평동',
 '화수2동',
 '송현1·2동',
 '송현3동',
 '송림1동',
 '송림2동',
 '송림3·5동',
 '송림4동',
 '송림6동',
 '금창동',
 '숭의2동',
 '숭의1·3동',
 '숭의4동',
 '용현1·4동',
 '용현2동',
 '용현3동',
 '용현5동',
 '학익1동',
 '학익2동',
 '도화1동',
 '도화2·3동',
 '주안1동',
 '주안2동',
 '주안3동',
 '주안4동',
 '주안5동',
 '주안6동',
 '주안7동',
 '주안8동',
 '관교동',
 '문학동',
 '옥련1동',
 '옥련2동',
 '선학동',
 '연수1동']

In [16]:
print(dong_list.index('숭의1.3동'))

23

In [17]:
dong_list[23]='숭의1'

In [20]:
dong_list

['연안동',
 '신포동',
 '신흥동',
 '도원동',
 '율목동',
 '동인천동',
 '개항동',
 '영종동',
 '영종1동',
 '운서동',
 '용유동',
 '만석동',
 '화수1.화평동',
 '화수2동',
 '송현1.2동',
 '송현3동',
 '송림1동',
 '송림2동',
 '송림3.5동',
 '송림4동',
 '송림6동',
 '금창동',
 '숭의2동',
 '숭의1',
 '숭의4동',
 '용현1.4동',
 '용현2동',
 '용현3동',
 '용현5동',
 '학익1동',
 '학익2동',
 '도화1동',
 '도화2.3동',
 '주안1동',
 '주안2동',
 '주안3동',
 '주안4동',
 '주안5동',
 '주안6동',
 '주안7동',
 '주안8동',
 '관교동',
 '문학동',
 '옥련1동',
 '옥련2동',
 '선학동',
 '연수1동']

In [18]:
city_code = list(city.iloc[:47,:]['id'])
city_code

[2811052000,
 2811053000,
 2811054000,
 2811056000,
 2811057000,
 2811058500,
 2811061500,
 2811062000,
 2811062200,
 2811062800,
 2811063000,
 2814051000,
 2814052500,
 2814053000,
 2814055500,
 2814057000,
 2814058000,
 2814059000,
 2814060500,
 2814061000,
 2814063000,
 2814064000,
 2817751000,
 2817752000,
 2817753000,
 2817754000,
 2817755000,
 2817756000,
 2817757000,
 2817758000,
 2817759000,
 2817760000,
 2817761000,
 2817762000,
 2817763000,
 2817764000,
 2817765000,
 2817766000,
 2817767000,
 2817768000,
 2817769000,
 2817770000,
 2817771000,
 2818563000,
 2818564000,
 2818575000,
 2818576100]

In [28]:
import pandas as pd

for idx, dong in enumerate(dong_list):
    dong_pd = pd.read_csv(r'data/날씨데이터 1_20/%s_강수_202101_202112.csv'%(dong))
    humidity= pd.read_csv(r'data/날씨데이터 1_20/%s_습도_202101_202112.csv'%(dong)).iloc[:,-1]
    temperature= pd.read_csv(r'data/날씨데이터 1_20/%s_기온_202101_202112.csv'%(dong)).iloc[:,-1]
    wind_speed = pd.read_csv(r'data/날씨데이터 1_20/%s_풍속_202101_202112.csv'%(dong)).iloc[:,-1]

    dong_pd.columns=['day','hour','precipitation']

    # dong_pd['city_id']=city_code[idx]
    dong_pd['humidity']=humidity
    dong_pd['wind_speed']=wind_speed
    dong_pd['temperature']=temperature
    dong_pd['dong']=dong
    dong_pd['day'] = dong_pd['day'].apply(lambda x : x.strip())
    dong_pd =pd.DataFrame([ x for i,x in dong_pd.iterrows() if len(x['day'])<3 ])
    
    month=0
    date_list=[]
    for i, val in dong_pd.iterrows():
        if val['day']=='1' and val['hour']==0.0:
            month+=1
        date='2021.%s.%s'%(month,val['day'])
        date_list.append(date)

    dong_pd['date']=date_list
    del dong_pd['day']

    dong_pd.to_csv('data/wheather_hour/%s_시간별날씨_202101_202112.csv'%dong, index=False)
    print('%s ::: save %s wheather data'%(idx, dong))

0 ::: save 연안동 wheather data
1 ::: save 신포동 wheather data
2 ::: save 신흥동 wheather data
3 ::: save 도원동 wheather data
4 ::: save 율목동 wheather data
5 ::: save 동인천동 wheather data
6 ::: save 개항동 wheather data
7 ::: save 영종동 wheather data
8 ::: save 영종1동 wheather data
9 ::: save 운서동 wheather data
10 ::: save 용유동 wheather data
11 ::: save 만석동 wheather data
12 ::: save 화수1·화평동 wheather data
13 ::: save 화수2동 wheather data
14 ::: save 송현1·2동 wheather data
15 ::: save 송현3동 wheather data
16 ::: save 송림1동 wheather data
17 ::: save 송림2동 wheather data
18 ::: save 송림3·5동 wheather data
19 ::: save 송림4동 wheather data
20 ::: save 송림6동 wheather data
21 ::: save 금창동 wheather data
22 ::: save 숭의2동 wheather data
23 ::: save 숭의1·3동 wheather data
24 ::: save 숭의4동 wheather data
25 ::: save 용현1·4동 wheather data
26 ::: save 용현2동 wheather data
27 ::: save 용현3동 wheather data
28 ::: save 용현5동 wheather data
29 ::: save 학익1동 wheather data
30 ::: save 학익2동 wheather data
31 ::: save 도화1동 wheather data
32 ::: save 도화2·3동 wheather data
33 ::: save 주안1동 wheather data
34 ::: save 주안2동 wheather data
35 ::: save 주안3동 wheather data
36 ::: save 주안4동 wheather data
37 ::: save 주안5동 wheather data
38 ::: save 주안6동 wheather data
39 ::: save 주안7동 wheather data
40 ::: save 주안8동 wheather data
41 ::: save 관교동 wheather data
42 ::: save 문학동 wheather data
43 ::: save 옥련1동 wheather data
44 ::: save 옥련2동 wheather data
45 ::: save 선학동 wheather data
46 ::: save 연수1동 wheather data

In [44]:
month=0
date_list=[]
for idx, dong in dong_pd.iterrows():
    if dong['day']=='1' and dong['hour']==0.0:
        month+=1
    date='2021.%s.%s'%(month,dong['day'])
    date_list.append(date)

dong_pd['date']=date_list
del dong_pd['day']
dong_pd

,hour,precipitation,city_id,humidity,wind_speed,temperature,date
0,0.0,0.0,2823766100,54.0,1.2,-3.4,2021.1.1
1,100.0,0.0,2823766100,52.0,2.2,-2.3,2021.1.1
2,200.0,0.0,2823766100,56.0,2.2,-1.3,2021.1.1
3,300.0,0.0,2823766100,56.0,2.3,-0.2,2021.1.1
4,400.0,0.0,2823766100,58.0,2.2,0.5,2021.1.1
...,...,...,...,...,...,...,...
8766,1900.0,0.0,2823766100,70.0,0.0,-11.3,2021.12.31
8767,2000.0,0.0,2823766100,74.0,0.0,-11.8,2021.12.31
8768,2100.0,0.0,2823766100,75.0,0.0,-11.7,2021.12.31
8769,2200.0,0.0,2823766100,75.0,0.0,-11.1,2021.12.31
8770,2300.0,0.0,2823766100,58.0,0.0,-7.4,2021.12.31