In [ ]:
import sqlite3

In [ ]:
def create_table():
    conn=sqlite3.connect('my_book.db')
    cursor=conn.cursor() # db를 제어하기 위한 객체
    sql="""create table if not exists books(
    title text,
    publisher text,
    pages integer,
    recommend integer)"""
    cursor.execute(sql)
    conn.commit() # db의 내용이 바뀌었을 때 반드시 커밋 
    conn.close()

In [ ]:
create_table()

In [ ]:
def insert_books(book):
    conn=sqlite3.connect('my_book.db')
    cursor=conn.cursor()
    #sql="insert into books values('java','길벗',500,1)"
    sql="insert into books values(?,?,?,?)"
    cursor.execute(sql,book)
    conn.commit()
    conn.close()

In [ ]:
book=('mongodb','한빛',650,1)
insert_books(book)

In [ ]:
def insert_many_books(books):
    conn=sqlite3.connect('my_book.db')
    cursor=conn.cursor()
    #sql="insert into books values('java','길벗',500,1)"
    sql="insert into books values(?,?,?,?)"
    cursor.executemany(sql,books)
    conn.commit()
    conn.close()

In [ ]:
books=[('빅데이터','영진',600,2),
       ('안드로이드','이지스퍼블리싱',500,3), 
       ('스프링','생능',650,1)]
insert_many_books(books)

In [ ]:
def all_books():
    conn=sqlite3.connect('my_book.db')
    cursor=conn.cursor()
    sql="select * from books"
    cursor.execute(sql)
    books=cursor.fetchall() # db에서 모든 결과를 가져옴(레코드를 배열 형식으로 저장)
    print(books)
    print(len(books))
    
    for book in books:
        print(book)
    conn.close()

In [ ]:
all_books()

In [ ]:
def some_books(number):
    conn=sqlite3.connect('my_book.db')
    cursor=conn.cursor()
    sql="select * from books"
    cursor.execute(sql)
    books=cursor.fetchmany(number) # db에서 모든 결과를 가져옴(레코드를 배열 형식으로 저장)
    print(books)
    print(len(books))
    
    for book in books:
        print(book)
    conn.close()

In [ ]:
some_books(3)

In [ ]:
def one_book():
    conn=sqlite3.connect('my_book.db')
    cursor=conn.cursor()
    sql="select * from books"
    cursor.execute(sql)
    books=cursor.fetchone() # db에서 모든 결과를 가져옴(레코드를 배열 형식으로 저장)
    print(books)
    print(len(books))
    
    for book in books:
        print(book)
    conn.close()

In [ ]:
one_book()

In [ ]:
def update_books():
    conn=sqlite3.connect('my_book.db')
    cursor=conn.cursor()
    sql='update books set recommend=? where title=?'
    cursor.execute(sql,(200,'java'))
    conn.commit()
    conn.close()

In [ ]:
update_books()
all_books()

In [ ]:
def delete_book():
    conn=sqlite3.connect('my_book.db')
    cursor=conn.cursor()
    sql="delete from books where title=?"
    cursor.execute(sql,('java',)) # 'java', -> tuple 형식으로 인식하기 위해 , 입력
    conn.commit()
    conn.close()

In [ ]:
delete_book()

In [1]:
import cx_Oracle

In [2]:
def all_product():
    conn=cx_Oracle.connect("system/1234@localhost:1521/xe")
    cursor=conn.cursor()
    sql="select * from product";
    cursor.execute(sql)
    for row in cursor:
        description=row[3].read()
        data=list(row)
        data[3]=description
        print(data)
    conn.close()

In [3]:
all_product()

[1, '레몬', 1500, '레몬에 포함된 구연산은 피로회복에 좋습니다.', 'lemon.jpg']
[2, '딸기', 2000, '딸기는 비타민이 풍부합니다.', 'strawberry.jpg']
[3, '오렌지', 3000, '비타민 C가 풍부하고 생과일 주스로 마시면 좋습니다.', 'orange.jpg']
[4, '키위', 3500, '다이어트나 미용에 좋습니다.', 'kiwi.jpg']
[5, '포도', 4000, '폴리페놀을 다량 함유하고 있어 항산화 작용을 합니다.', 'grape.jpg']
[6, '귤', 7000, '시네피린을 함유하고 있어 감기 예방에 좋다고 합니다.', 'tangerine.jpg']

In [ ]:
def insert_product():
    conn=cx_Oracle.connect("system/1234@localhost:1521/xe") 
    cursor=conn.cursor()
    sql="insert into product values(:1,:2,:3,:4,:5)"
     
    cursor.execute(sql,data) 
    conn.commit() 
    conn.close()

In [ ]:
data=(2, '딸기', 2000, '딸기는 비타민이 풍부합니다.', 'strawberry.jpg')
insert_product(data)

In [ ]:
def insert_many():
    conn=cx_Oracle.connect("system/1234@localhost:1521/xe") 
    cursor=conn.cursor()
    items=[
    (3, '오렌지', 3000, '비타민 C가 풍부하고 생과일 주스로 마시면 좋습니다.', 'orange.jpg'),
    (4, '키위', 3500, '다이어트나 미용에 좋습니다.','kiwi.jpg'),
    (5, '포도', 4000, '폴리페놀을 다량 함유하고 있어 항산화 작용을 합니다.', 'grape.jpg'),
    (6, '귤', 7000, '시네피린을 함유하고 있어 감기 예방에 좋다고 합니다.', 'tangerine.jpg')
    ]
    sql="insert into product values(:1,:2,:3,:4,:5)"
    for row in items:
        cursor.execute(sql,row)
    # cursor.executemany(sql,items) # for문과 동일
    conn.commit()
    conn.close()

In [ ]:
insert_many()

In [ ]:
def new_select():
    conn=cx_Oracle.connect("system/1234@localhost:1521/xe")
    cursor=conn.cursor()
    sql="select * from product where product_name=:1";
    cursor.execute(sql,('포도',)) # , 를 꼭 붙여줄 것..
    for row in cursor:
        description=row[3].read()
        data=list(row)
        data[3]=description
        print(data)
    conn.close()

In [ ]:
new_select()

In [6]:
def delete_product():
    conn=cx_Oracle.connect("system/1234@localhost:1521/xe")
    cursor=conn.cursor()
    sql="delete from product where product_id=:1";
    cursor.execute(sql,(1,))
    conn.commit()
    conn.close()

In [9]:
delete_product()
all_product()

[2, '딸기', 2000, '딸기는 비타민이 풍부합니다.', 'strawberry.jpg']
[3, '오렌지', 3000, '비타민 C가 풍부하고 생과일 주스로 마시면 좋습니다.', 'orange.jpg']
[4, '키위', 3500, '다이어트나 미용에 좋습니다.', 'kiwi.jpg']
[5, '포도', 4000, '폴리페놀을 다량 함유하고 있어 항산화 작용을 합니다.', 'grape.jpg']
[6, '귤', 7000, '시네피린을 함유하고 있어 감기 예방에 좋다고 합니다.', 'tangerine.jpg']

In [8]:
def update_product():
    conn=cx_Oracle.connect("system/1234@localhost:1521/xe")
    cursor=conn.cursor()
    sql="update product set price=:1 where product_id=:2";
    cursor.execute(sql,(10000,2))
    conn.commit()
    conn.close()

In [10]:
update_product()
all_product()

[2, '딸기', 10000, '딸기는 비타민이 풍부합니다.', 'strawberry.jpg']
[3, '오렌지', 3000, '비타민 C가 풍부하고 생과일 주스로 마시면 좋습니다.', 'orange.jpg']
[4, '키위', 3500, '다이어트나 미용에 좋습니다.', 'kiwi.jpg']
[5, '포도', 4000, '폴리페놀을 다량 함유하고 있어 항산화 작용을 합니다.', 'grape.jpg']
[6, '귤', 7000, '시네피린을 함유하고 있어 감기 예방에 좋다고 합니다.', 'tangerine.jpg']

In [11]:
# mysql
import pymysql

In [16]:
def select_all():
    conn=pymysql.connect(
        host='localhost',
        user='lyk',
        password='1234',
        db='pydb',
        charset='utf8')
    cursor=conn.cursor()
    sql='select*from book'
    cursor.execute(sql)
    for book in cursor:
        print(book)
    conn.close()

In [17]:
select_all()

(1, 'pymysql', 500, '이윤경', '한빛')

In [23]:
def insert_book(book):
    conn=pymysql.connect(
        host='localhost',
        user='lyk',
        password='1234',
        db='pydb',
        charset='utf8')
    cursor=conn.cursor()
    sql='insert into book(title, pub, pages, author) values(%s,%s,%s,%s)'
    cursor.execute(sql, book) # book은 tuple 형식
    conn.commit()
    conn.close()

In [24]:
book=('안드로이드','한밭',650,'홍길동')
insert_book(book)

In [25]:
select_all()

(1, 'pymysql', 500, '이윤경', '한빛')
(2, '안드로이드', 650, '홍길동', '한빛')
(3, '안드로이드', 650, '홍길동', '한밭')

In [26]:
def insert_many_book(book):
    conn=pymysql.connect(
        host='localhost',
        user='lyk',
        password='1234',
        db='pydb',
        charset='utf8')
    cursor=conn.cursor()
    sql='insert into book(title, pub, pages, author) values(%s,%s,%s,%s)'
    cursor.executemany(sql, book) # book은 tuple 형식
    conn.commit()
    conn.close()

In [28]:
data=[('java','한빛',650,'우소윤'),
     ('Oracle DB','한빛',650,'김은진'),
     ('Spring', '영진', 600, '안영륜')]
insert_many_book(data)
select_all()

(1, 'pymysql', 500, '이윤경', '한빛')
(2, '안드로이드', 650, '홍길동', '한빛')
(3, '안드로이드', 650, '홍길동', '한밭')
(4, 'java', 650, '우소윤', '한빛')
(5, 'Oracle DB', 650, '김은진', '한빛')
(6, 'Spring', 600, '안영륜', '영진')